@model IList<Web_Shop_SettingIphone.Models.Entity.GroupNewMenuSanPhamDetail>
<div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th></th>
                <th>Tên bài đăng</th>
                <th>Thể loại</th>
                <th>Images</th>
                <th>Kiểu loại</th>
                <th>Giảm giá</th>
                <th>Thứ tự</th>
                <th>Kích hoạt</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string src = item.Image == null || item.Image ==""? "/images/no-image.jpg" : item.Image; <!--load anh-->;
             
                <tr class="odd gradeX">
                    <!--checkbox-->
                    <td  style="text-align:center; width: 5%"><input type="checkbox" name="checkRow" value="bar1" class="dell" index="@item.Id"></td>
                    <!--Name-->
                    <td style="width:20%"><a target="_blank" href="/san-pham/@item.Cateprolevel3/@item.Tag">@item.Name</a></td>
                    <!--Thể Loại-->
                    <td>
                        <a href="@Url.Action("Read", "CategotyproductdetailAdmin", new { tag = item.Cateprolevel3 })">
                        @Html.Action("Resurt_name_groupnew", new { @catelog = item.Cateprolevel3 })
                        </a>
                    </td>
                    <!--hình ảnh-->
                    <td><img src=@src class="imglogo ShowImgZoom img-responsive" /></td>
                    <!--Kiểu loại-->
                    <td>
                        @switch (item.Priority)
                        {
                            case  2:
                                @:nổi bật
                                break;
                            case  3:
                                @:Hàng Seo
                                break;
                            
                            default:
                                @:bình thường
                                break;
                        }

                    </td>
                    <td>@item.Phantramkhuyenmai (%)</td>
                    <td>@item.Order</td>
                    <!--kích hoạt-->
                    <td>
                        <span class="label label-primary">
                            <a  class="label label-primary btn-active" id="btn-active"
                               data-id="@item.Id">
                                @Html.Raw(item.Active == 1 ? "<strong>Có</strong>" : "<strong>Không</strong>")
                            </a>
                        </span>
                    </td>
                    <!--chức năng-->
                    <td width="190px" align="center">
                        <a class="btn btn-info btn-xs Copy"  id="Copy" data-id="@item.Id"><i class="fa fa-copy"></i> Copy </a>
                        <a class="btn btn-info btn-xs Edit"  id="Edit" data-id="@item.Id"><i class="fa fa-pencil"></i> Edit </a>
                        <a class="btn btn-danger btn-xs Delete" data-id="@item.Id"  id="Delete"><i class="fa fa-trash-o"></i> Delete </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <!-- /.table-responsive -->

</div>

@{ Html.RenderPartial("_Edit", Model); }



<!--tham khảo https://datatables.net/ -->