@model IList<Web_Shop_SettingIphone.Models.Entity.GroupMenuSanPham>
@if(Model.Count > 0)
{
    <ul>
            @foreach(var item in Model)
            {
                 string src = item.Logogroup == null || item.Logogroup == "" ? "/images/no-image.jpg" : item.Logogroup; <!--load anh-->;
                <li>
                    <a>
                        @item.Name  
                    </a>
                    <div>
                        <table border="0">
                            <tr>
                                <td>Hình ảnh</td>
                                <td>
                                    <img  src=@src class="imglogo ShowImgZoom img-responsive" />
                                </td>
                            </tr>
                            <tr>
                                <td>Số tin</td>
                                <td>
                                    @Html.Action("__count_lever3", new { @tag = item.Tag })
                                </td>
                            </tr>
                            <tr>
                                <td>Trang chủ</td>
                                <td>
                                    <a  class="label label-primary btn-Priority" id="btn-Priority"
                                       data-id="@item.Id">
                                        @Html.Raw(item.Priority == 1 ? "<strong>Có</strong>" : "<strong>Không</strong>")
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Số thứ tự</td>
                                <td>
                                    @item.Ord
                                </td>
                            </tr>
                            <tr>
                                <td>Trạng thái</td>
                                <td>
                                    <a  class="label label-primary btn-active" id="btn-active"
                                       data-id="@item.Id">
                                        @Html.Raw(item.Active == 1 ? "<strong>Có</strong>" : "<strong>Không</strong>")
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Chức năng</td>
                                <td>
                                   @{
                                    int Countnew = Convert.ToInt32((Html.Action("Count_news_lever3", new { tag = item.Tag }).ToHtmlString()));
                                    int Countgroup = Convert.ToInt32((Html.Action("Count_category", new { Id = item.Id }).ToHtmlString()));
                                        }
                                        <a class="btn btn-info btn-xs Editlever2"  id="Edit" data-id="@item.Id"><i class="fa fa-pencil"></i> Edit </a>
                                        @if (Countnew > 0 || Countgroup > 0)
                                        { }
                                        else
                                        {
                                            <a class="btn btn-danger btn-xs Delete" data-id="@item.Id"  id="Delete"><i class="fa fa-trash-o"></i> Delete </a>
                                        }
                                </td>
                            </tr>
                        </table>
                    </div>
                  
                </li>
                
            }
           
        </ul>
    
  
}

